/* 脚部 */
.layui-footer{
    font-size: 12px;
    text-align: center;
}
/* 图标 */
.iconfont{
    margin-right: 10px;
    font-size: 16px;
}
.layui-icon{
    margin-right: 6px;
    margin-left: 16px;
}
/* 首页内容 */
.layui-body{
    overflow: hidden;
}
iframe{
    width: 100%;
    height: 100%;
}
/* 头像 */
.userinfo{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}
.layui-side-scroll .userinfo{
    border-bottom: 1px solid #000;
}
.layui-nav-img{
    width: 40px;
    height: 40px;
}
.text_avatar{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #009688;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
}